.ant-layout {
  height: 100vh;
  overflow: hidden;
  .ant-pro-layout-container{
    height: 100%;
  }
  .ant-layout-content {
    overflow: auto;
  }
  .ant-pro-base-menu-horizontal-horizontal{
    gap: 4px;
  }
  .ant-menu-item-active::after, .ant-menu-item-selected::after{
    display: none;
  }
  .ant-pro-top-nav-header-menu {
    .ant-menu-title-content {
      &::after {
        border-color: transparent !important;
      }
    }
  }
  .ant-pro-menu-item-title {
    font-weight: bold;
  }
  .ant-pro-top-nav-header-main-left {
    min-width: 194px;
  }
  .ant-pro-sider-logo,
  .ant-pro-sider-collapsed {
    padding: 8px !important;
    h1 {
      font-size: 16px;
    }
  }
  .ant-layout-sider{
    padding: 0 !important;
  }
  .ant-layout-sider-children {
    padding: 0 !important;
  }
  .ant-pro-page-container {
    .ant-pro-grid-content {
      overflow: auto;
    }
  }
  .app-right-header {
    display: flex;
    align-items: center;
    height: 100%;
    .anticon {
      font-size: 16px;
      cursor: pointer;
      color: #fff !important;
    }
  }
  .ant-pro-sider-footer{
    font-size: 12px;
    padding-block-end: 8px;
  }
  .ant-page-header{
    padding: 10px 16px !important;
    .ant-page-header-heading{
      padding-top: 0;
    }
  }
  .ant-pro-page-container-children-container{
    padding: 10px;
  }
  .ant-pro-page-container{
    .ant-breadcrumb{
      min-height: 20px;
    }
  }
}
