# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# production
build/
dist/
tmp/
lib/
runtime
logs
# misc
.DS_Store
*.swp
*.dia~

npm-debug.log*
yarn-debug.log*
yarn-error.log*
index.module.scss.d.ts
.vscode/settings.json
.gitpod.yml
src/.lyr
yarn.lock
www