<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="https://v3.ice.work/img/logo.png" />
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <title>中后台项目模版</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@arco-design/web-react@latest/dist/css/arco.min.css" />
    <link rel="stylesheet" type="text/css" href="https://react-core-form.oss-cn-beijing.aliyuncs.com/assets/react-core-form.css" />
    <link rel="stylesheet" type="text/css" href="/dev/css/main.css" />
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="https://react-core-form.oss-cn-beijing.aliyuncs.com/assets/axios.min.js"></script>
  <script src="https://g.alicdn.com/code/lib/react/17.0.2/umd/react.development.min.js"></script>
  <script src="https://g.alicdn.com/code/lib/react-dom/17.0.2/umd/react-dom.development.min.js"></script>
  <script src="https://unpkg.com/@arco-design/web-react@latest/dist/arco.min.js"></script>
  <script src="https://unpkg.com/@arco-design/web-react@latest/dist/arco-icon.min.js"></script>
  <script src="https://unpkg.com/react-color@3.0.0-beta.3/dist/react-color.min.js"></script>
  <script src="http://lib.baomitu.com/socket.io/4.4.0/socket.io.js"></script>
  <script src="/dev/app.js"></script>
</html>
